root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4

[*.{xaml,xml,csproj,config,manifest,resx,settings}]
indent_size = 4

[*.{json,md}]
indent_size = 2

[*.{ps1,sh}]
indent_size = 4
